@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap');

$text-color: #262626;
$title-color-w: #ffffff;
$title-color-b: #262626;

$text-ff: 'Raleway', sans-serif;
$logo-ff: 'Pacifico', cursive;